<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">calculate</i>
                        </div>
                        <p class="card-category">Calculadora de Binário</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <a class="nav-link" href="#/calculadora">
                                <button class="btn btn-outline">
                                    <span>Acessar Calculadora</span>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>